
*.dia

*.cfg

Astran/build/bin/Astran.app/Contents/

Astran/build/Astran.build/Debug/Astran.build/

Astran/Astran/Astran.xcodeproj/project.xcworkspace/xcuserdata/

Astran/Astran/Astran.xcodeproj/xcuserdata/
Astran/Astran/Astran.xcodeproj/project.pbxproj

Astran/build/bin/Astran

Astran/Astran/Astran.xcodeproj/project.pbxproj

*.pbxproj
